*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
# Android Studio
*.apk
*.aar
*.ap_
*.der
*.xml
!/app/src/main/AndroidManifest.xml
!/core/src/main/AndroidManifest.xml
!/feature-auth/src/main/AndroidManifest.xml
!/feature-mahasiswa/src/main/AndroidManifest.xml
!/feature-staff/src/main/AndroidManifest.xml
